{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static%}
{% block extra_css %}
{% endblock extra_css %}

{% block content %}
  {% if user.is_authenticated %}

   <h1>Hi {{ user.username }}!</h1>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
   

  
      
  {% for post in post_list|dictsortreversed:"id"|slice:"" %}

<div style="word-wrap:break-word;background-color:#9e9e9e3b" class="col-lg-4 col-md-4 col-sm-4 container justify-content-center" >
  
  <h3>{{post.author}}</h3>

  <h2>{{post.title}}</h2>
  <p>{{post.post_date}}</p>
  <p >{{post.content|slice:""}}</p>
  <p><img src="{{post.image.url}}"width="400" height="450"></p>
  {% if user.id == post.author.id %}
      <a href="{% url 'post-update' post.id  %}" style="background-color:lightgrey;border-color:lightgrey" class="btn btn-warning btn-sm"><input type="button" value="Edit" /></a>
        <a href="{% url 'post-delete' post.id %}" style="background-color:lightgrey;border-color:lightgrey" class="btn btn-warning btn-sm"><input type="button" value="Delete" /></a>


  {% endif %}
      <h2>comment</h2> 
  {% if not post.comments.all %}
      no comments Yet<a href="{% url 'post-comment' post.pk  %}">ADD one</a>
  {% else %}
     <a href="{% url 'post-comment' post.pk  %}">ADD one</a> 
     <br/><br/>
      {% for comment in post.comments.all %}
          <strong>
            <br/>
            {{comment.name}}-{{comment.date_added}}
         </strong>
         <br/>
         {{comment.boady}}
      {% endfor  %}  
    
  {% endif %}  
 
</div>
<hr>
  
      {% endfor %}
     
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}"><input type="button" value="Login" ></a>

    <p><a href="{% url 'signup' %}"><input type="button" value="signup" ></a></p>
  {% endif %}
{% endblock %}

{% block extra_js %}
{% endblock extra_js %}