{% extends 'base.html' %}

{% block content %}
current user :{{user.id}}
post author :{{post.author.id}}
  {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>you can edit {{ user.username }}!</h1>
           <h1>Edit Post</h1>
           
        <form action=""  method='post' enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}

             <input type="submit" value="Post">
             <a href="{% url 'post-List'   %}" type="submit">back</a>
        </form>
    {% else %}
    <p>You are not user get lost otherwise you will  get mudrus</p>
        {% endif %}

    {% endif %}
{% endblock  %}
