<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
   {% block javascript %}
   <script>
    $("").change(function () {
        debugger
      var username = $(this).val();

      $.ajax({
        url: 'ajax/validate_username/',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
            debugger
          if (data.is_taken) {
            alert("A user with this username already exists.");
          }
        },
        error: function (err) {
          debugger
        }
      });

    });

    $( "#target" ).submit(function( event ) {
      alert( "Handler for .submit() called." );
      // event.preventDefault();
    });
  </script>
{% endblock %} 

  <h2>Sign up</h2>
  <form method="post" id="target" data-validate-username-url="{% url 'validate_username' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
    <p><a href="{% url 'login' %}"><input type="button" value="login" ></a></p>
  </form>
</body>
</html>