      {% extends 'base.html' %}
      {% load crispy_forms_tags %}

      {% comment %}
      <!DOCTYPE html>
      {# <html>
      <head>
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      </head>
      <body>
      {% endcomment %}
      {% block content %}
      <div class="container" >
       <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center"><b>Log In Here</b></h5>
      <body>
        {% block javascript %}
       <script>
        $("").change(function () {
            
          var username = $(this).val();

          $.ajax({
            url: 'ajax/validate_username/',
            data: {
              'username': username
            },
            dataType: 'json',
            success: function (data) {
              
              if (data.is_taken) {
                alert("A user with this username already exists.");
              }
            },
            error: function (err) {
              
            }
          });

        });

        $( "#target" ).submit(function( event ) {
          alert( "Handler for .submit() called." );
          // event.preventDefault();
        });
      </script>
      {% endblock %} 

      <h2>Sign up</h2>
      <form method="post" id="target" data-validate-username-url="{% url 'validate_username' %}">
        {% csrf_token %}
        <fieldset class="form-group"><br>
                {{ form | crispy }}
        </fieldset>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
        <p><a href="{% url 'login' %}"><input type="button" value="login" ></a></p>
      </form>
      </body>
                </div>
            </div>
          </div>
      </div>
      </div>

      {% endblock  %}


