{% load socialaccount %}
{% providers_media_js %}


{% block title %}Login{% endblock %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
{% block content %}
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
    <p><a href="{% url 'signup' %}"><input type="button" value="SignUp" ></a></p>
    <button><a href="#">google Login</a></button>
    <button><a href="{% provider_login_url "facebook" method="oauth2" %}">facebook login</a></button>
</form>
{% endblock %}

</body>
</html>