<header class="header bg-black">

    <div class="grid">

        <div class="logo">
            <a href="#">FbCOOL</a>
        </div>

        <input type="checkbox" class="navigationCheckbox" id="navi">
        <label for="navi" class="navigationBtn">
            <span class="navigationIcon"></span>
        </label>


        <nav class="menu bg-black">
            <div class="menu-item">
                <a href="#" class="liens">Profile</a>
                <a href="{% url 'post-Create' %}" class="liens">Create Post</a>
                <a href="#" class="liens">Home</a>
                <a href="#" class="liens">chat</a>
            </div>
        </nav>

        <div class="langueEN">
            <a href="#">
                <p class="english">English</p>
            </a>
        </div>

    </div>

</header>